body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: aqua;
   background-image: url(https://cdn.pixabay.com/photo/2015/10/04/17/31/abstract-971439_640.jpg);
   );
}

h3 {
    color:aqua;
   
}
h2 {
    color:aqua;
}
p {
    color:aqua;
}
h1 {
    color:aqua;
}
a {
    color:aqua;
}

#texto-blue {
    color: blue;
    background-color: aqua;
}
#texto-verde {
    color: green;
}
#texto-yellow {
    color: yellow;
}

#texto-pink {
    color: pink;
}


    


