body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: blue;
   
   ;
}

div {
    text-align: center;
    border-style: ridge;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
   background-color: red;
   border-radius: 20px;
   font-family:Brush Script MT, Brush Script Std, cursive;
}

h3 {
    color:black;
    border-style: ridge;
    border-color: black;
    background-color: cornflowerblue;
    border-radius: 20px;
    border-left: 20px;
    border-right: 20px;

   
}
h2 {
    color:black;
    border-style: ridge;
    border-color: black;
    background-color: greenyellow ;
    border-radius: 20px;
}
p {
    color:black;
    background-color: gold;
}
h1 {
    color:black;
    border-style: ridge;
    border-color: black;
    background-color: yellow;
    border-radius: 20px;
    border-top: 20px;
    border-left: 20px;
    border-right: 20px;
}




    


